.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style-type: none;
}
.nav-list li {
    padding: 10px 20px;
}

@media (max-width: 767px){
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .nav-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
    }
    .nav-list li {
        padding: 10px 0px;
    }
}